<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctech.eaty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".base.EatyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3289674a41d258133b3bb61056ccf7bb4a68f9af" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.splash.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.view.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".linking.UniversalLinkActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Translucent.Overlap">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.producthunt.com" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.Overlap.Login" />

        <activity
            android:name=".ui.login.view.FacebookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />

        <activity
            android:name=".ui.login.view.TwitterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent" />

        <activity
            android:name=".ui.live.view.LiveEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.job.view.JobListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.meetup.view.MeetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.ask.view.AskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.newletter.view.NewsLetterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.user.view.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.Overlap.User" />

        <activity
            android:name=".ui.productdetail.view.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.Overlap" />

        <activity
            android:name=".ui.gallery.view.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.gallery.view.YoutubeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.web.WebviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.collection.view.CollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.radio.view.RadioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />

        <activity
            android:name=".ui.collectiondetail.view.CollectionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />

        <activity
            android:name=".ui.topiclist.view.TopicListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.vote.view.VoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.Overlap.Vote" />

        <activity
            android:name=".ui.follow.view.FollowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.Overlap.Vote" />

        <activity
            android:name=".ui.topic.view.TopicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.comment.view.CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.Overlap" />

        <activity
            android:name=".ui.profile.view.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.noti.view.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.onboarding.view.OnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />

        <activity
            android:name=".ui.search.view.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Translucent.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <service android:name=".ui.web.support.KeepAliveService" />

        <service android:name=".messaging.AppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>